{% extends 'base.html' %}
{% load static %}
{% block title %} Shop {% endblock  %}
{% block bodyContaint %}


<!-- ============================ shop banner part start ===============================-->
<section id="about-banner">
    <div class="container">
        <div class="row mx-0">
            <div class="col-lg-12 px-0 text-center">
                <div class="about-banner-text">
                    <h3>{{ shops.0.header }}</h3>
                    <h4>{{ shops.0.title1 }}<i class="fas fa-angle-double-right"></i><span>{{ shops.0.title2}}</span></h4>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ about us part end ===============================-->

<!-- ============================ controls part start ===============================-->
<section class="controls">
    <div class="container">
        <div class="outer-border">
            <div class="box">
                <div class="row">
                    <!-- view controls start-->
                    <div class="col-md-2">
                        <i class="fas fa-th active"></i>
                        <i class="fas fa-list-ul"></i>
                    </div>
                    <!-- view controls end-->
                    <!--sort control start-->
                    <div class="col-md-4 offset-md-2">
                        <div class="sortshow">
                            <div class="sort">
                                <span> {{ controls.0.title1 }}</span>
                                <select>
                                    {% for item in controls %}
                                    <option>{{ item.sortedBy }}</option>
                                    {% endfor %}                                     
                                </select>
                            </div>

                            <div class="show">
                                <span>{{ controls.0.title2 }}:</span>
                                <select>
                                    {% for item in controls %} 
                                    <option>{{ item.NumberOfshowPruduct }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                    <!--sort control end-->
                    <!--pagination start-->
                    <div class="col-md-4">
                        <div class="pagination">
                            <span>{{ controls.0.title3 }}: </span>
                            <!--                            <div class="numbers">-->
                             {% for item in controls %}   
                            <div class="number-box">{{ item.pages }}</div>
                             {% endfor %}
                            <span> of</span>
                            <div class="number-box">{{ controls.0.lastOfPage_number }}</div>
                            <i class="fas fa-caret-right"></i>
                            <!--                            </div>-->
                        </div>
                    </div>
                    <!--pagination end-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ controls part end ===============================-->


<!-- ============================ products part start ===============================-->
<section class="products">
    <div class="container">
        <div class="row grid mx-0">
            {% for item in shopData %}

            <div class="col-lg-3 col-sm-6 col-md-6   element-item men">
                <div class="product">
                    <img src="{{ item.img.url }}" alt="women1" class="img-fluid w-100">
                    <div class="overlay1  ">
                        <div class="feature-icon text-center">
                            <a href="#"><i class="fas fa-heart"></i></a>
                            <a href="#"><i class="fas fa-random"></i></a>
                            <a title="place order" onclick="myFunction()" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-lg-6 px-0">
                        <h5>{{ item.p_name }} <p class="text-danger">P_code: {{ item.product_code }} </p></h5>
                    </div>
                    <div class="col-lg-6 px-0 text-right">
                        <h6>${{ item.p_price_usd }}.00</h6>
                    </div>
                    <div class="col-lg-6 px-0  star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half"></i>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section>
<!-- ============================ products part end ===============================-->
<!---poup windo-->
        <!--script link-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
        })
        </script>
        <!--script link-->
            
        {% if user.is_authenticated %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="recipient-name" required name="email">
                                <label for="recipient-name" class="col-form-label">Contact Number:</label>
                                <input type="text" class="form-control" id="recipient-name" required name="Mobile">
                                <label for="recipient-name" class="col-form-label">Product code</label>
                                <label for="recipient-name" class="col-form-label text-danger">(P code):</label>
                                <input type="text" class="form-control" id="recipient-name" required name="productCode">
                                
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Address:</label>
                                <textarea class="form-control" id="message-text" required name="address"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Order</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    {% else %}
      <script>
      function myFunction() {
      alert("Please Login for Order \n ThankYou!");
      }
</script>
    {% endif %}

    <!---End poup windo-->  

<!-- ============================ pagination part start ===============================-->
<section class="pagination2">
    <div class="container">
        <div class="outer-border">
            <div class="box">
                <div class="row">
                    <!--pagination start-->
                    <div class="col-md-4 offset-md-4">
                        <div class="pagination text-center">
                            <span>{{ controls.0.title3 }}: </span>
                            <!--                            <div class="numbers">-->
                             {% for item in controls %}   
                            <div class="number-box">{{ item.pages }}</div>
                             {% endfor %}
                            <span> of</span>
                            <div class="number-box">{{ controls.0.lastOfPage_number }}</div>
                            <i class="fas fa-caret-right"></i>

                            <!--                            </div>-->
                        </div>
                    </div>
                    <!--pagination end-->
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ pagination part end ===============================-->

 
<a href="#" class="back-to-top"><i class="fas fa-location-arrow"></i></a>

{% endblock  %}
 