{% extends 'base.html' %}
{% load static %}
{% block  bodyContaint%}
 
<div class="container col-lg-2"></div>

<div class="container col-lg-6">
<div class="card" style="width: 18rem;">
 
   
 
  

  <div class="card-body">
  <h3>
    Full Name:
    <h4 class="card-title">{{user.first_name}}</h4>
  </h3>   
  </div>
  <ul class="list-group list-group-flush">
    
    <li class="list-group-item">User name: {{user.username}}</li>
    <li class="list-group-item">Mail: {{user.email}}</li>
  </ul>
  <div class="card-body">
    
    <a href="{% url 'logout' %}" class="card-link text=right">Logout</a>
  </div>
  </div>
</div>
<div class="container col-lg-4"></div>
{% endblock  %}