/*<!-- ============================ controls part start ===============================-->*/
.controls {
    margin-top: 100px;
}

.controls .outer-border, .pagination2 .outer-border {
    border: 1px solid #DDDDDD;
}

.box{
    padding: 10px;
}

.controls .outer-border .box i, .pagination i {
    padding: 10px 8px;
    border: 1px solid #444444;
}

.controls .outer-border .box i:hover {
    cursor: pointer;
}

.active {
    color: white;
    background-color: #DE4644;
    border-color: #DE4644 !important;

}

.sortshow {
    display: flex;
    justify-content: space-around;
}


.sortshow .sort span, .sortshow .show span, .pagination span {
    font-size: 14px;
    color: #444444;
}

.sortshow .sort select, .sortshow .show select {
    border: 1px solid #444444;
    padding: 8px 0 7px 8px;
}



.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pagination .numbers {
    display: flex;
}

.pagination .number-box {
    padding: 7.5px 12px;
    margin: 0 3px;
    border: 1px solid #444444;
    font-size: 14px;
    color: #444444;
}

/*<!-- ============================ controls part end ===============================-->*/

/*<!-- ============================ products part start ===============================-->*/

.products .element-item{
    margin-top: 60px;
}
/*<!-- ============================ products part end ===============================-->*/

/*<!-- ============================ pagination part start ===============================-->*/
.pagination2{
    margin-top: 60px;
    margin-bottom: 95px;
}
/*<!-- ============================ pagination part end ===============================-->*/
